nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
}

li {
  display: inline;
  padding: 50px;
}

li a {
  text-decoration: none;
  color: #ff99b9;
  padding: 15px 50px;
}

li a:hover {
  background-color: wheat;
  color: black;
  
}

h3 {
  color: white;
  text-decoration: underline 3px dotted;
  word-spacing: 2px;
}

body {
  background-color: #ff99b9;
}  

img:hover {
  width: 500 px;
  border: dotted pink;
  border-radius: 5%;
}

h3:hover {
  text-decoration: underline wavy wheat 15px;
  font-size: 150%;
  text-transform: uppercase;
}
